In [1]:
import pandas as pd
import numpy as np
import requests as rq

import datetime as dt
import pandas as pd

In [2]:
# load csv with vehicle EPA data

vehicles_df = pd.read_csv('../Resources/vehicles.csv', low_memory=False)
vehicles_df.head(3)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [3]:
# list columns

vehicles_df.columns.values

array(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF',
       'co2', 'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08',
       'comb08U', 'combA08', 'combA08U', 'combE', 'combinedCD',
       'combinedUF', 'cylinders', 'displ', 'drive', 'engId', 'eng_dscr',
       'feScore', 'fuelCost08', 'fuelCostA08', 'fuelType', 'fuelType1',
       'ghgScore', 'ghgScoreA', 'highway08', 'highway08U', 'highwayA08',
       'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv',
       'id', 'lv2', 'lv4', 'make', 'model', 'mpgData', 'phevBlended',
       'pv2', 'pv4', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy',
       'rangeHwyA', 'trany', 'UCity', 'UCityA', 'UHighway', 'UHighwayA',
       'VClass', 'year', 'youSaveSpend', 'baseModel', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2',
       'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'charge240b',
       'c240bDscr', 'createdOn', 'modifiedOn', 'startStop', 'phevCity',
       'phevHwy', 'phevComb'], dtype=object)

In [4]:
# get number of alternative fuel vehicles in dataset

vc = vehicles_df.atvType.value_counts()
vc.sum()

4890

In [5]:
# removes all alternative fuel vehicles in data set including hybrids

vehicles_df = vehicles_df[vehicles_df.atvType.isnull()]
vehicles_df.head(3)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [6]:
# reduce columns to 8 for easier manipulation and viewing

veh_reduced = vehicles_df[['year','VClass','comb08','cylinders','displ','drive','fuelType','trany']]
veh_reduced

,year,VClass,comb08,cylinders,displ,drive,fuelType,trany
0,1985,Two Seaters,21,4.0,2.0,Rear-Wheel Drive,Regular,Manual 5-spd
1,1985,Two Seaters,11,12.0,4.9,Rear-Wheel Drive,Regular,Manual 5-spd
2,1985,Subcompact Cars,27,4.0,2.2,Front-Wheel Drive,Regular,Manual 5-spd
3,1985,Vans,11,8.0,5.2,Rear-Wheel Drive,Regular,Automatic 3-spd
4,1993,Compact Cars,19,4.0,2.2,4-Wheel or All-Wheel Drive,Premium,Manual 5-spd
...,...,...,...,...,...,...,...,...
46559,1993,Compact Cars,22,4.0,2.2,Front-Wheel Drive,Regular,Automatic 4-spd
46560,1993,Compact Cars,23,4.0,2.2,Front-Wheel Drive,Regular,Manual 5-spd
46561,1993,Compact Cars,21,4.0,2.2,4-Wheel or All-Wheel Drive,Regular,Automatic 4-spd
46562,1993,Compact Cars,21,4.0,2.2,4-Wheel or All-Wheel Drive,Regular,Manual 5-spd
46563,1993,Compact Cars,18,4.0,2.2,4-Wheel or All-Wheel Drive,Premium,Automatic 4-spd

In [7]:
#remove all rows with missing any data

veh_reduced.dropna(how = 'any', inplace = True)
veh_reduced

C:\Users\kmill\AppData\Local\Temp\ipykernel_9868\3476075203.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veh_reduced.dropna(how = 'any', inplace = True)

,year,VClass,comb08,cylinders,displ,drive,fuelType,trany
0,1985,Two Seaters,21,4.0,2.0,Rear-Wheel Drive,Regular,Manual 5-spd
1,1985,Two Seaters,11,12.0,4.9,Rear-Wheel Drive,Regular,Manual 5-spd
2,1985,Subcompact Cars,27,4.0,2.2,Front-Wheel Drive,Regular,Manual 5-spd
3,1985,Vans,11,8.0,5.2,Rear-Wheel Drive,Regular,Automatic 3-spd
4,1993,Compact Cars,19,4.0,2.2,4-Wheel or All-Wheel Drive,Premium,Manual 5-spd
...,...,...,...,...,...,...,...,...
46559,1993,Compact Cars,22,4.0,2.2,Front-Wheel Drive,Regular,Automatic 4-spd
46560,1993,Compact Cars,23,4.0,2.2,Front-Wheel Drive,Regular,Manual 5-spd
46561,1993,Compact Cars,21,4.0,2.2,4-Wheel or All-Wheel Drive,Regular,Automatic 4-spd
46562,1993,Compact Cars,21,4.0,2.2,4-Wheel or All-Wheel Drive,Regular,Manual 5-spd
46563,1993,Compact Cars,18,4.0,2.2,4-Wheel or All-Wheel Drive,Premium,Automatic 4-spd

In [8]:
veh_reduced.dtypes

year           int64
VClass        object
comb08         int64
cylinders    float64
displ        float64
drive         object
fuelType      object
trany         object
dtype: object

In [9]:
# sort data by year ascending
sorted = veh_reduced.sort_values(by='year', axis=0, ascending=True)
sorted

,year,VClass,comb08,cylinders,displ,drive,fuelType,trany
19453,1984,Special Purpose Vehicles,15,4.0,2.0,2-Wheel Drive,Regular,Manual 4-spd
19140,1984,Standard Pickup Trucks 4WD,14,6.0,4.1,4-Wheel or All-Wheel Drive,Regular,Manual 4-spd
20316,1984,Special Purpose Vehicle 4WD,18,6.0,4.2,4-Wheel or All-Wheel Drive,Regular,Manual 5-spd
19139,1984,Standard Pickup Trucks 4WD,15,6.0,4.1,4-Wheel or All-Wheel Drive,Regular,Automatic 4-spd
19136,1984,Standard Pickup Trucks 2WD,21,4.0,2.4,2-Wheel Drive,Regular,Manual 5-spd
...,...,...,...,...,...,...,...,...
40233,2024,Small Sport Utility Vehicle 4WD,22,4.0,2.0,All-Wheel Drive,Regular,Automatic (S8)
40232,2024,Small Sport Utility Vehicle 4WD,22,4.0,2.0,All-Wheel Drive,Regular,Automatic (S8)
40231,2024,Small Sport Utility Vehicle 4WD,20,4.0,2.0,All-Wheel Drive,Regular,Automatic (S8)
40275,2024,Subcompact Cars,19,6.0,3.0,Rear-Wheel Drive,Premium,Manual 6-spd
40105,2024,Subcompact Cars,27,4.0,2.0,Front-Wheel Drive,Premium,Manual 6-spd

In [10]:
#sorted.to_csv("../Resources/vehicles_basic_clean.csv",index=False)

In [11]:
# getting counts of vehicle numbers

VClass_counts = sorted.VClass.value_counts()
VClass_counts.sort_index()

Compact Cars                          5610
Large Cars                            2171
Midsize Cars                          4714
Midsize Station Wagons                 455
Midsize-Large Station Wagons           619
Minicompact Cars                      1520
Minivan - 2WD                          330
Minivan - 4WD                           54
Small Pickup Trucks                    498
Small Pickup Trucks 2WD                447
Small Pickup Trucks 4WD                271
Small Sport Utility Vehicle 2WD        843
Small Sport Utility Vehicle 4WD       1391
Small Station Wagons                  1498
Special Purpose Vehicle 2WD            686
Special Purpose Vehicle 4WD            323
Special Purpose Vehicles              1408
Special Purpose Vehicles/2wd             2
Special Purpose Vehicles/4wd             2
Sport Utility Vehicle - 2WD           1414
Sport Utility Vehicle - 4WD           1858
Standard Pickup Trucks                2140
Standard Pickup Trucks 2WD            1100
Standard Pickup Trucks 4WD            1077
Standard Pickup Trucks/2wd               4
Standard Sport Utility Vehicle 2WD     339
Standard Sport Utility Vehicle 4WD     871
Subcompact Cars                       5055
Two Seaters                           2261
Vans                                  1079
Vans Passenger                           2
Vans, Cargo Type                       319
Vans, Passenger Type                   224
Name: VClass, dtype: int64

In [12]:
# function to automate reductions

def clean_up(df, column, replace):
    
    for c in replace:
        df.loc[vr[column].str.contains(c), column] = c

In [13]:
# reduce VClasses

vr = sorted.copy()
class_search_values = ["Minivan", "Small Pickup Trucks", "Special Purpose Vehicle", "Sport Utility Vehicle",\
                      "Standard Pickup Trucks","Vans", "Small Sport Utility Vehicle", "Standard Sport Utility Vehicle"]

# for c in class_search_values:
#     vr.loc[vr["VClass"].str.contains(c), "VClass"] = c
clean_up(vr, "VClass", class_search_values)    
    
vr.loc[vr["VClass"].str.contains("Midsize Station"), "VClass"] = "Midsize-Large Station Wagons"
    
vr["VClass"].value_counts()

Sport Utility Vehicle           6716
Compact Cars                    5610
Subcompact Cars                 5055
Midsize Cars                    4714
Standard Pickup Trucks          4321
Special Purpose Vehicle         2421
Two Seaters                     2261
Large Cars                      2171
Vans                            1624
Minicompact Cars                1520
Small Station Wagons            1498
Small Pickup Trucks             1216
Midsize-Large Station Wagons    1074
Minivan                          384
Name: VClass, dtype: int64

In [14]:
# reduce to 4, front or rear drive

vr.loc[vr["drive"].str.contains("2-Wheel Drive"), "drive"] = "Front-Wheel Drive"
# vr.loc[vr["drive"].str.contains("Rear-Wheel"), "drive"] = "2-Wheel Drive"
vr.loc[vr["drive"].str.contains("All-Wheel"), "drive"] = "4-Wheel Drive"
vr.loc[vr["drive"].str.contains("Part-time"), "drive"] = "4-Wheel Drive"
drive_counts = vr.drive.value_counts()
drive_counts.sort_index()

4-Wheel Drive        12267
Front-Wheel Drive    14550
Rear-Wheel Drive     13768
Name: drive, dtype: int64

In [15]:
# reduce to automatic or manual

AorM = ["Automatic", "Manual"]

clean_up(vr, "trany", AorM )

trany_counts = vr.trany.value_counts()
trany_counts.sort_index()

Automatic    28326
Manual       12259
Name: trany, dtype: int64

In [16]:
fuel_count = vr.fuelType.value_counts()
fuel_count

Regular     26865
Premium     13558
Midgrade      143
CNG            10
Diesel          9
Name: fuelType, dtype: int64

In [17]:
# remove any remaining non-gasoline fuels

vr = vr[(vr.fuelType == "Regular") | (vr.fuelType == "Premium") | (vr.fuelType == "Midgrade")]
vr

,year,VClass,comb08,cylinders,displ,drive,fuelType,trany
19453,1984,Special Purpose Vehicle,15,4.0,2.0,Front-Wheel Drive,Regular,Manual
19140,1984,Standard Pickup Trucks,14,6.0,4.1,4-Wheel Drive,Regular,Manual
20316,1984,Special Purpose Vehicle,18,6.0,4.2,4-Wheel Drive,Regular,Manual
19139,1984,Standard Pickup Trucks,15,6.0,4.1,4-Wheel Drive,Regular,Automatic
19136,1984,Standard Pickup Trucks,21,4.0,2.4,Front-Wheel Drive,Regular,Manual
...,...,...,...,...,...,...,...,...
40233,2024,Sport Utility Vehicle,22,4.0,2.0,4-Wheel Drive,Regular,Automatic
40232,2024,Sport Utility Vehicle,22,4.0,2.0,4-Wheel Drive,Regular,Automatic
40231,2024,Sport Utility Vehicle,20,4.0,2.0,4-Wheel Drive,Regular,Automatic
40275,2024,Subcompact Cars,19,6.0,3.0,Rear-Wheel Drive,Premium,Manual
40105,2024,Subcompact Cars,27,4.0,2.0,Front-Wheel Drive,Premium,Manual

In [18]:
# remove fuelType from columns as no longer needed
vr = vr.drop("fuelType", axis=1)

In [19]:
vr = vr.rename(columns={"comb08": "MPG(comb)", "VClass": "vehicle_class","displ":"displ (L)"})
vr

,year,vehicle_class,MPG(comb),cylinders,displ (L),drive,trany
19453,1984,Special Purpose Vehicle,15,4.0,2.0,Front-Wheel Drive,Manual
19140,1984,Standard Pickup Trucks,14,6.0,4.1,4-Wheel Drive,Manual
20316,1984,Special Purpose Vehicle,18,6.0,4.2,4-Wheel Drive,Manual
19139,1984,Standard Pickup Trucks,15,6.0,4.1,4-Wheel Drive,Automatic
19136,1984,Standard Pickup Trucks,21,4.0,2.4,Front-Wheel Drive,Manual
...,...,...,...,...,...,...,...
40233,2024,Sport Utility Vehicle,22,4.0,2.0,4-Wheel Drive,Automatic
40232,2024,Sport Utility Vehicle,22,4.0,2.0,4-Wheel Drive,Automatic
40231,2024,Sport Utility Vehicle,20,4.0,2.0,4-Wheel Drive,Automatic
40275,2024,Subcompact Cars,19,6.0,3.0,Rear-Wheel Drive,Manual
40105,2024,Subcompact Cars,27,4.0,2.0,Front-Wheel Drive,Manual

In [20]:
# vr.to_csv("../Resources/vehicles_fully_reduced_2.csv",index=False)

In [21]:
# remove special purpose vehicles
vrsp = vr[vr['vehicle_class'] != 'Special Purpose Vehicle']
vrsp.to_csv("../Resources/vehicles_fully_reduced_no_sp.csv",index=False)

In [22]:
vrsp2000 = vrsp[vrsp['year'] >=2000]
vrsp2000

,year,vehicle_class,MPG(comb),cylinders,displ (L),drive,trany
6654,2000,Large Cars,21,6.0,3.8,Front-Wheel Drive,Automatic
6653,2000,Large Cars,21,6.0,3.4,Front-Wheel Drive,Automatic
7113,2000,Sport Utility Vehicle,21,4.0,2.0,4-Wheel Drive,Manual
7064,2000,Sport Utility Vehicle,16,4.0,2.5,4-Wheel Drive,Automatic
6651,2000,Large Cars,19,6.0,3.8,Front-Wheel Drive,Automatic
...,...,...,...,...,...,...,...
40233,2024,Sport Utility Vehicle,22,4.0,2.0,4-Wheel Drive,Automatic
40232,2024,Sport Utility Vehicle,22,4.0,2.0,4-Wheel Drive,Automatic
40231,2024,Sport Utility Vehicle,20,4.0,2.0,4-Wheel Drive,Automatic
40275,2024,Subcompact Cars,19,6.0,3.0,Rear-Wheel Drive,Manual
40105,2024,Subcompact Cars,27,4.0,2.0,Front-Wheel Drive,Manual

In [23]:
# final cleaning csv 
#vrsp2000.to_csv("../Resources/vehicles_fully_reduced_no_sp_2000.csv",index=False)